<!DOCTYPE html>
<html lang="es">
<head>
    <title> Categorías de juguetes </title>
    <%- include ("../partials/head") %>
</head>
<body>

    <%- include ("../partials/header") %>

    <main class="categoriasDeJuguetes">
            <!-- Busqueda por destacado o precio -->
            <div class="destacadoOprecio">
                <select name="destacado o precio" id="destacadoOprecio">
                    <option>Más destacado</option>
                    <option>Menor precio</option>
                    <option>Mayor precio</option>
                </select>
            </div>
            
            <!-- Division de Articles -->
            <div class="main-articles"> 
                <!-- Section Categories -->
                <section class='subcategories'>
                    <h3>Categorías</h3>
                    <a href="/products/categoriasDeJuguetes/Juego" class = "contNavA"><h4> <li>Juego</li> </h4> </a> 
                    <a href="/products/categoriasDeJuguetes/Animales" class = "contrNavA"> <h4> <li>Animales</li> </h4> </a>
                    <a href="/products/categoriasDeJuguetes" class = "contNavA"><h4> <li>Todos</li> </h4> </a> 
            </section>
                <!-- Section Articles -->
                    <section>
                        <div class="products">
                                <% for (i = 0 ; i < products.length ; i++) { %>
                                    <a href="/products/detalleDeProducto/<%-products[i].ID%>"><article>
                                    <img src="/images/products/<%-products[i].IMAGE%>" class="product_img">
                                    <div class="main-article">
                                        <i class="fas fa-truck"></i>
                                        <p class="description"><%-products[i].NAME %></p>
                                        <p class="price">$<%-products[i].PRICE %></p>
                                        <% if(products[i].DISCOUNT != null ) {%>
                                        <p class="discount"><%-products[i].DISCOUNT %>% off</p> 
                                        <% }%>
                                        <h4 class="description"><%-products[i].DESCRIPTION %></h4>
                                    </div>
                                    </article></a>
                                <% } %>
                            
                        </div>  
                    </section>    
                </div>
        </main>

        <%- include ("../partials/footer") %>
</body>
</html> 