<!DOCTYPE html>
<html lang="es">
<head>
    <title> formulario de Nuevo Producto</title>
    <%- include ("../partials/head") %>
</head>
<body>

    <%- include ("../partials/header.ejs") %>

    <main class = "formularioCarga">
        <form method="POST" action="/admin" enctype="multipart/form-data"><!--inicio el formulario-->
                <h1 >¡Publica tu producto!</h1><!--contenedor del titulo-->
    
                <div class="lineaHorizontal"></div>

                    <label class="titulos" for="name">¿Cuál es el título de la publicación?</label>
                    <input class="tituloProducto" type="textarea" id="name" name="name">
                    <% if (locals.errors && errors.name) { %>
                        <div class="text-danger"> 
                            <%= errors.name.msg %>
                        </div>
                        <% } %>
                    <div class="lineaHorizontal"></div>
        
                    <label class="titulos" for="category">¿En que categoría se encuentra tu producto?</label>
                <div class="contFormA">
                    <label for= "category"> Juegos de mesa</label>
                    <input type="radio" id="category" value= "1"name="category">
                    <label for= "category"> Aprendiendo a Escribir</label>
                    <input type="radio" id="category" value= "2"name="category">
                    <label for= "category"> Grafomotricidad</label>
                    <input type="radio" id="category" value= "3"name="category">

                </div>

                <div class="lineaHorizontal"></div>
              
                <label class="titulos" for="subcategory">¿En que subcategoría se encuentra tu producto?</label>
                <div class="contFormA">
                    <label for= "subcategory"> Bosque</label>
                    <input type="radio" id="subcategory" value= "1"name="subcategory">
                    <label for= "subcategory"> Selva</label>
                    <input type="radio" id="subcategory" value= "2"name="subcategory">
                    <label for= "category"> Mar</label>
                    <input type="radio" id="subcategory" value= "3"name="subcategory">
                    <label for= "category"> Granja</label>
                    <input type="radio" id="subcategory" value= "4"name="subcategory">
                
               
                </div>
                <div class="lineaHorizontal"></div>
              
                <label class="titulos"  for="Email">¿Quieres que se encuentre destacada?</label>
            <div class="contFormA">
                <label for= "pack"> Si</label>
                <input type="radio" id="formatoVenta" value= "si"name="destacado">
                <label for= "unidad">No</label>
                <input type="radio" id="formatoVenta" value= "no"name="destacado">
            </div>

                 <div class="lineaHorizontal"></div>

                    <label class="titulos"  for="image">Agregá algunas fotos de tu producto!</label>
                    <input type="file" id="product-image" value="image" name="image" placeholder="Imagen">
                    <% if (locals.errors && errors.image) { %>
                        <div class="text-danger"> 
                            <%= errors.image.msg %>
                        </div>
                        <% } %>
                <div class="lineaHorizontal"></div>      

                    <label class="titulos"  for="price">Define el precio del producto</label>
                    <input type="number" id="price" name="price" >

                <div class="lineaHorizontal"></div>
                                                          
                    <label class="titulos"  for="discount">¿Ofeces descuento?</label>
                    <input type="textarea" id="discount" name="discount" >

                <div class="lineaHorizontal"></div>
                                                    
                    <label class="titulos"  for="description">¿Querés agregar una descripción?</label>
                    <input class="desc" type="textarea" id= "description" name="description" >

                    <button class="publicar" type="submit" >Publicar</button> 
        </form>
    </main>

    <%- include ("../partials/footer") %>

</body>
</html> 