<!DOCTYPE html>
<html lang="es">
<head>
    <%- include ("../partials/head") %>
    <title> Perfil</title>
</head>
<body>
    <%- include ("../partials/header.ejs") %>
  <main class = "perfil">
    <div class = perfilContMainA>
      <img class= perfilImagen src="/images/users/<%= user.AVATAR%>">
      <div class = perfilContMainAA>
        <h1 > Hola de nuevo, <%=user.NAME %></h1>
        <p><%=user.EMAIL%></p>
    </div>
    <form class = perfilContMainAB>
      <button class = "botonEditarUsuarioA"> <a href="/admin/formularioCarga">Crear Producto</a> </button>
  </form>
  <form class = perfilContMainAC>
    <button class = "botonEditarUsuarioB"> <a href="/users/editUser">editar usuario</a> </button>
</form>
</div>
   
  </main>

  <%- include ("../partials/footer") %>
  
</body>
</html> 