<!DOCTYPE html>
<html lang="es">
<head>
    <%- include ("../partials/head") %>
    <title> Perfil</title>
</head>
<body>
    <%- include ("../partials/header.ejs") %>
  <main>
    <div class = perfilContMainA>
      <img class= perfilImagen src="/images/users/<%= user.AVATAR%>">
      <div class = perfilContMainAA>
        <h1 class = perfilH1> Hola de nuevo, <%=user.NAME %></h1>
        <p><%=user.EMAIL%></p>
    </div>

  </main>

  <%- include ("../partials/footer") %>
  
</body>
</html> 